#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}



body {
    background-image: url(https://images.unsplash.com/photo-1517448988499-4cdc5bbde64c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10450b1daa31a8955a2ef99a35c87d85&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    
    
}

html{
    height: 100%;
}

h1 {
    color: white;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 54px;
}

h2{
    color: white;
   text-align: center;
}

h3{
    color: white;
    letter-spacing: 1px;
}



hr{
    max-width: 90%;
}

.well{
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

/*ColorBox*/

#sw_cancel {
	float: right;
	clear: both;
    color: black;
}




/*v_users.php*/

.container-users, .container-statistics, .container-find{
    margin-top: 50px;
}

.balance-header{
    text-align: center; 
}

.balance-amount{
    text-align: center;
    color:white;
}

.balance-amount-profit{
    color: #39d339;
}

.balance-amount-expense{
    color: #ef734e;
}

.buttons {
    margin-bottom: 20px;
    margin-top: 30px;
}

.record-header{
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 10px;
    background-color: rgba(28, 25, 25, 0.5);
}

.record-expense{
    border: 2px solid red;
}

.record-profit{
    border: 2px solid green;
}

.record-header:hover{
    background-color: rgba(28, 25, 25, 0.9);
}

.record{
    font-size:20px;
    color:white;
    margin: 10px 0px 10px 0px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    
}

.record-content{
    float: left;
    width: 33%;
}

.record-amount{
    float: left;
    width: 33%;
    text-align: center;
}

.record-date{
    font-style: italic;
    width: 33%;
    text-align: right;
}

.form-header {
    text-align: center;
    color: green;
    margin-bottom: 10px;
}

#myModalLabel {
    text-align: center;
}

/*myProfile.php*/

.container-myprofile, .container-contact {
    margin-top: 100px;
}



.table-responsive {
    margin-top: 40px;
}

table.table-bordered > tbody > tr > td{
    border:2px solid #2e79d1;
    padding: 15px;
    font-size: 18px;
    color:white;
    border-collapse: collapse;
}

tr:hover{
    background-color: rgba(28, 25, 25, 0.9);
    cursor: pointer;
}

.col-title{
    text-align: center;
    color: white;
}

.col-summary{
/*    border: 5px solid green;*/
}

.record-summary{
    margin:5px;
    padding: 10px 8px 10px 8px;
}

.month-chart{
        border: 5px solid green;
}

.select-findrecord{
    position: relative;
    margin: 5px;
}

.select-findrecord > select {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #2e79d1;
    margin: 20px;
    padding: 10px;
    height: 50px;
    cursor: pointer;  
}


.select-findrecord > select > option{
    background-color: #1a1c1d; 
}

#select-profit-category, #select-expense-category {
    position: absolute;
}

#datepicker-header {
    margin-top: 115px;
    color:white;
    font-size: 18px;
    text-align: center;
}

.datepicker {
    margin: 0px 30px 10px 30px;
    width:50%;
    width: 240px;
    color:white;
    
}

.datepicker-label {
    margin: 100px 20px 10px 30px;
    color:white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
}

#datepicker-submit {
    width:100%;
}

.submit-find-form {
    margin-left: 30px;
}

input.datepicker{
    font-size: 16px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #2e79d1;   
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: white;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: white;
}

.alert-find-record, .record-find {
    margin-left: 25px;
}

.fa{
   font-size: 5px; 
}





.container-contact {
    color: white;   
}

.message-label {
     color:white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
}

.contact-header {
    margin-bottom: 50px;
}

textarea#message{
    padding: 5px;
    background: transparent;
    background-color: rgba(28, 25, 25, 0.7);
    border: 2px solid #6690c1;
    border-radius: 7px;
    color:white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
